.ClassifyText textarea {
  height: 7rem;
  width: 30rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.svgContainer {
    position: absolute;
    z-index: -10;
}

.orange0 {
    background-color:#fcb941;    
}

.purple0 {
    background-color: #aea8d3;
}

.green0 {
    background-color: #86e2d5;
}

.green1 {
    background-color: #87d37c;
}

.settings {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}
